#.gitignore
#OpenAL32.dll
#SDL2.dll
#changes.txt
#compilador.bat
#game.ico
jogo.exe
#license.txt
#love.dll
#love.exe
#love.ico
#lovec.exe
#lua51.dll
#mpg123.dll
#msgothic.ttc
#msvcp120.dll
#msvcr120.dll
#readme.txt